*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
frontend/home-salon/.ionic
frontend/home-salon/www
frontend/home-salon/platforms
frontend/home-salon/plugins

# Compiled output
frontend/home-salon/dist
frontend/home-salon/tmp
frontend/home-salon/out-tsc
frontend/home-salon/bazel-out

# Node
frontend/home-salon/node_modules
frontend/home-salon/npm-debug.log
frontend/home-salon/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
frontend/home-salon/.angular
frontend/home-salon/.angular/cache
frontend/home-salon/.sass-cache/
frontend/home-salon/.nx
frontend/home-salon/.nx/cache
frontend/home-salon/connect.lock
frontend/home-salon/coverage
frontend/home-salon/libpeerconnection.log
frontend/home-salon/testem.log
frontend/home-salon/typings

# System files
frontend/home-salon/.DS_Store
frontend/home-salon/Thumbs.db
db_data
.env
