services:
  client:
    container_name: client
    image: 'docker.io/naveenverma088/bookmakers_dockerized-client'

  api:
    container_name: api
    image: 'docker.io/naveenverma088/bookmakers_dockerized-api'
    depends_on:
      - mongo

  mongo:
    image: 'mongo'
    restart: unless-stopped
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: nverma
      MONGO_INITDB_ROOT_PASSWORD: teret
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db/

  nginx:
    restart: unless-stopped
    image: 'docker.io/naveenverma088/bookmakers_dockerized-nginx'
    depends_on:
      - api
      - client
    ports:
      - "80:80"

volumes:
  mongodb_data:
