<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <img src="assets/images/GM2.jpeg" alt="Logo" class="header-logo">
  </ion-toolbar>
</ion-header> 
  <p-toast></p-toast>
  <ion-content class="ion-padding">
    <p-tabView (onTabChange)="onTabChange($event)">
      <p-tabPanel header="Packages">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button label="New Package" icon="pi pi-plus" color="primary" (onClick)="openNew('PACKAGE')"></p-button>
          </div>
        </p-toolbar>
        
        <p-table #dt  [value]="getFilteredItems('PACKAGE')" [rows]="10" [paginator]="true" 
                 [globalFilterFields]="['title','contentDescription']" [resizableColumns]="false" responsiveLayout="scroll"
                 [rowHover]="true" dataKey="_id"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                 [showCurrentPageReport]="true"
                 [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage Packages</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text"(input)="onGlobalFilter($event, dt)" 
                       placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          
          <ng-template pTemplate="header">
            <tr>
             
                <th pSortableColumn="title" style="width:20%">
                    Title <p-sortIcon field="title" />
                </th>
                <th pSortableColumn="price" style="width:20%">
                    Price <p-sortIcon field="price" />
                </th>
                <th  style="width:25%">
                    Description 
                </th>
                <th pSortableColumn="category" style="width:20%">
                    Image 
                </th>
                <th pSortableColumn="quantity" style="width:20%">
                    Action 
                </th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-treatments>
            <tr>
             
              <td>{{treatments.title}}</td>
              <td>{{treatments.price | currency:'INR'}}</td>
              <td >
                {{treatments.contentDescription}}
              </td>
              <td>
                <img [src]="treatments.imageUrl" [alt]="treatments.title" class="shadow-2" />
              </td>
              <td>
                <div class="action-buttons">
                  <div class="action-button edit-button" (click)="editItem(treatments)">
                    <ion-icon size="large" color="primary" name="create-outline"></ion-icon>
                  </div>
                  <div class="action-button delete-button" (click)="deleteItem(treatments)">
                    <ion-icon size="large" color="danger" name="trash-outline"></ion-icon>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are {{getFilteredItems('PACKAGE').length}} packages.
            </div>
          </ng-template>
        </p-table>
      </p-tabPanel>
      
      <p-tabPanel header="Offers">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button label="New Offer" icon="pi pi-plus" (onClick)="openNew('OFFER')"></p-button>
          </div>
        </p-toolbar>
        
        <p-table #dtOffers [value]="getFilteredItems('OFFER')" [rows]="10" [paginator]="true" 
                 [globalFilterFields]="['title','contentDescription']" responsiveLayout="scroll"
                 [rowHover]="true" dataKey="_id"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                 [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage Offers</h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text"  
                (input)="onGlobalFilter($event, dtOffers)"
                placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title" style="width:20%">
                    Title <p-sortIcon field="title" />
                </th>
                <th pSortableColumn="price" style="width:20%">
                    Price <p-sortIcon field="price" />
                </th>
                <th  style="width:20%">
                    Description 
                </th>
                <th  style="width:20%">
                    Image 
                </th>
                <th  style="width:20%">
                    Action 
                </th>
            </tr>
        </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.title}}</td>
              <td>{{item.price | currency:'INR'}}</td>
              <td>
                {{item.contentDescription}}
              </td>
              <td>
                <img [src]="item.imageUrl" [alt]="item.title" width="100" class="shadow-2" />
              </td>
              <td>
                <div class="action-buttons">
                  <div class="action-button edit-button" (click)="editItem(item)">
                    <ion-icon size="large" color="primary" name="create-outline"></ion-icon>
                  </div>
                  <div class="action-button delete-button" (click)="deleteItem(item)">
                    <ion-icon size="large" color="danger" name="trash-outline"></ion-icon>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are {{getFilteredItems('OFFER').length}} offers.
            </div>
          </ng-template>
        </p-table>
      </p-tabPanel>
      
      <p-tabPanel header="Categories">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button label="New Category" icon="pi pi-plus" (onClick)="openNew('CATEGORY')"></p-button>
          </div>
        </p-toolbar>
      
        <p-accordion>
          <p-accordionTab *ngFor="let category of categories" [header]="category.title">
            <div class="flex justify-content-between align-items-center">
              <div class="category-actions-container">
                <div class="image-container">
                  <img [src]="category.imageUrl" [alt]="category.title" width="100" class="shadow-4 image-ratio" />
                </div>
                
            

                <div class="action-buttons button-group">
                  <div class="action-button edit-button" (click)="editCategory(category)">
                    <ion-icon size="large" color="primary" name="create-outline"></ion-icon>
                  </div>
                  <div class="action-button delete-button" (click)="deleteCategory(category)">
                    <ion-icon size="large" color="danger" name="trash-outline"></ion-icon>
                  </div>
                  <div class="action-button add-button" (click)="openNew('TREATMENT', category._id)">
                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                  </div>
                </div>
              </div>
              
            </div>
      
            <div class="flex flex-column md:flex-row mb-4">
             
              <div class="w-full md:w-8 ml-0 md:ml-4 pt-4 md:pt-0">
                <p-table 
                  [value]="getCategoryTreatments(category._id)" 
                  [rows]="5" 
                  [paginator]="true" 
                  responsiveLayout="scroll" 
                  [rowHover]="true" 
                  dataKey="_id" 
                  styleClass="mt-4" 
                  [tableStyle]="{'min-width': '60rem'}">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                      <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                      <th>Description</th>
                      <th>Image</th>
                      <th>Actions</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td>{{ item.title }}</td>
                      <td>{{ item.price | currency:'INR' }}</td>
                      <td style="max-width: 15rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{ item.contentDescription }}
                      </td>
                      <td>
                        <img [src]="item.imageUrl" [alt]="item.title" width="70" class="shadow-2" />
                      </td>
                   
                      <td>
                        <div class="action-buttons">
                          <div class="action-button edit-button" (click)="editItem(item)">
                            <ion-icon size="large" color="primary" name="create-outline"></ion-icon>
                          </div>
                          <div class="action-button delete-button" (click)="deleteItem(item)">
                            <ion-icon size="large" color="danger" name="trash-outline"></ion-icon>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="5" class="text-center p-4">No items found in this category.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
    </p-tabView>
  </ion-content>
  
  <p-dialog [(visible)]="categoryDialog" [style]="{width: '450px'}" header="Category Details" [modal]="true" 
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="category-dialog">
        <div class="field category-dialog">
          <div class="field" *ngIf="selectedCategory.imageUrl">
            <label>Image Preview</label>
            <div class="flex justify-content-center">
              <img [src]="selectedCategory.imageUrl" [alt]="selectedCategory.title" class="shadow-4 image-ratio" />
            </div>
          </div>
          <label for="categoryTitle">Title</label>
          <input type="text" pInputText id="categoryTitle" style="width: 100%;"[(ngModel)]="selectedCategory.title" required autofocus 
                 [ngClass]="{'ng-invalid ng-dirty': submitted && !selectedCategory.title}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedCategory.title">Title is required.</small>
        </div>
        
        <div class="field">
          <label for="categoryImageUrl">Image URL</label>
          <input type="text" style="width: 100%;" pInputText id="categoryImageUrl" [(ngModel)]="selectedCategory.imageUrl" required 
                 [ngClass]="{'ng-invalid ng-dirty': submitted && !selectedCategory.imageUrl}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !selectedCategory.imageUrl">Image URL is required.</small>
        </div>
      </div>
   
    </ng-template>
    
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCategory()"></button>
    </ng-template>
  </p-dialog>
  
 
  <p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>Are you sure you want to delete <b>{{selectedItem.title}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteItem()"></button>
    </ng-template>
  </p-dialog>
  
  <p-dialog [(visible)]="deleteCategoryDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>Are you sure you want to delete <b>{{selectedCategory.title}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCategoryDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteCategory()"></button>
    </ng-template>
  </p-dialog>


  <p-dialog [(visible)]="itemDialog" [style]="{width: '650px'}" header="Treatment Details" [modal]="true">
    <ng-template #content>
      <form [formGroup]="treatmentForm" (ngSubmit)="saveTreatment()">
        <div class="flex flex-col gap-6 treatment-dialog">
          <div class="card-section" *ngIf="treatmentForm.get('imageUrl')?.value"> 
            <img
            [src]="treatmentForm.get('imageUrl')?.value"
            [alt]=" treatmentForm.get('imageUrl')?.value"
            class="block m-auto pb-4 image-ratio"
            /> 
        
          </div>
         
          <div>
            <label for="name" class="block font-bold mb-3">Title</label>
            <input
              type="text"
              pInputText
              id="name"
              formControlName="title"
              required
              autofocus
              fluid
            />
            <small
              *ngIf="submitted && treatmentForm.controls['title'].invalid"
              class="p-error"
            >
              Title is required.
            </small>
          </div>
          <div>
            <label for="description" class="block font-bold mb-3">Description</label>
            <textarea
              id="description"
              pTextarea
              formControlName="contentDescription"
              required
              rows="4"
              style="width: 100%;"              
              fluid
            ></textarea>
            <small
              *ngIf="submitted && treatmentForm.controls['contentDescription'].invalid"
              class="p-error"
            >
              Description is required.
            </small>
          </div>
  
          <div>
            <label for="highlights" class="block font-bold mb-3">Highlights</label>
            <textarea
              id="highlights"
              pTextarea
              formControlName="contentHighlights"
              required
              rows="5"
              style="width: 100%;"
              fluid
            ></textarea>
            <small
              *ngIf="submitted && treatmentForm.controls['contentHighlights'].invalid"
              class="p-error"
            >
              Highlights are required.
            </small>
          </div>
  
          <div>
            <label for="imageUrl" class="block font-bold mb-3">Image URL</label>
            <input
              type="text"
              pInputText
              id="imageUrl"
              formControlName="imageUrl"
              required
              fluid
            />
          
          
          </div>
  
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-6">
              <label for="price" class="block font-bold mb-3">Price</label>
              <p-inputnumber
                id="price"
                formControlName="price"
                mode="currency"
                currency="INR"
                locale="en-US"
                fluid
              ></p-inputnumber>
              <small
                *ngIf="submitted && treatmentForm.controls['price'].invalid"
                class="p-error"
              >
                Price must be greater than 0.
              </small>
            </div>
            <div class="col-span-6">
              <label for="type" class="block font-bold mb-3">Type</label>
              <input
                type="text"
                pInputText
                id="type"
                formControlName="type"
                required
                fluid
                readonly
              />
              <small
                *ngIf="submitted && treatmentForm.controls['type'].invalid"
                class="p-error"
              >
                Type is required.
              </small>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  
    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (click)="saveTreatment()" />
    </ng-template>
  </p-dialog>



