<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/setting"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-color">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding text-color">
  <div class="about-content text-color">
    <p class="story-paragraph">
      Imagine your friends made a plan last minute and now you're stressing about what to wear because the waxing is not done, your nails are chipped and eyebrows are no less than bushes. So, you end up wearing a makeshift outfit, the nails are still chipped & you try to fix your brows with makeup. Ugh! Right?
    </p>
    <p class="story-paragraph">
      Well not anymore because we are here to give you Salon expert ki home delivery when you desire & that too at the most affordable prices.
    </p>
    <p class="story-paragraph">
      It's the 21st Century, if we can shop for groceries from the comfort of our homes why not book a professional to get beauty and salon services at home.
    </p>

   
  </div>
</ion-content>

